{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

    <h1>About Us</h1>
    <h3>Welcome to A Coder's Journey</h3>
    <p>Welcome to A Coder's Journey! We created this blog to share our experience, 
        knowledge, and expertise about coding and programming with the world. This is also a place for
        you to shine and share your story and expertise with others! Being developers ourselves, 
        we know how important it is to have access to quality resources and information. To that end, we wanted to
        contribute what we've gleaned from <i>our life experience</i>, to the community at large. Our aim is to provide 
        insightful and informative articles on a variety of topics, including coding languages, frameworks, 
        and tools, as well as helpful tips and tricks to help you along the way, on your coding journey. 
        Whether you're a seasoned developer or just starting out, we hope you'll find our blog useful 
        and informative. We welcome your feedback and suggestions for future articles, 
        and we look forward to sharing our vast knowledgebase with you.</p>
        <hr>
        <p>Please <a href="{% url 'account_signup' %}">register</a> to our site to be added to our mailing list!</p>
    
        </div>
    </div>
</div>


{% endblock %}