{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-danger text-white">
                    <h4 class="card-title">Delete Profile</h4>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete your profile?</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <button type="submit" class="btn btn-danger">Yes, delete my profile</button>
                        <a href="{% url 'user_profile' username=user.username %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if user.slug %}
  <li><a class="dropdown-item" href="{% url 'delete_profile' slug=user.slug %}">Delete Profile</a></li>
{% endif %}
{% endblock %}
